# Build output
bin/
obj/

# Rider/VS/VS Code
.idea/
.vs/
.vscode/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Docker local artifacts
**/Container/

# NuGet
*.nupkg
*.snupkg
.nuget/

# Other
*.swp
*.temp
